* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
  
}

:root {
  --backgroundColor: hsl(60, 56%, 91%);
  --menuColor: hsl(225, 2%, 80%);
  --itemColor: hsl(233, 7%, 70%);
  --descriptionColor: hsl(225, 2%, 65%);
  --productColor: hsl(229, 5%, 59%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
  margin-inline:auto ;
  background:url(/src/assets/img/backg.jpg);
background-position: center;

}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.Logo {
  width: 16rem;
  height: 16rem;
  z-index: 1;
}

main {
  background: var(--menuColor);
}

.menu{
  padding:2rem;
}

.blockBrunch, .blockDrinks {

  padding:1.5rem;
}

.item {
  padding:1rem;
  background: var(--productColor);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p{
  background: var(--descriptionColor);
}